@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  z-index: 500;
}

#tsparticles,
#bg,
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

section,
.hero,
.intro,
main,
div[class*=section-] {
  position: relative !important;
  z-index: 1 !important;
}

body {
  position: relative;
  background-image: url("bg.jpg");
  background-attachment: fixed;
}

::-moz-selection {
  background-color: #5E1EE5;
  color: white;
  border-radius: 5px;
}

::selection {
  background-color: #5E1EE5;
  color: white;
  border-radius: 5px;
}

ul {
  list-style: none;
}

nav {
  position: fixed !important;
  top: 0px;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 9999 !important;
  color: white;
}
nav .container {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .container ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav .container h1 {
  font-weight: 900;
  position: relative;
}
nav .container h1 .dote {
  position: absolute;
  top: -7px;
  right: -5px;
  width: 20px;
  height: 20px;
  background-color: #5E1EE5;
  border-radius: 50%;
  z-index: -1;
  animation: pulse 2s infinite, orbit 4s linear infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(90, 45, 255, 0.7);
  }
  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 12px rgba(90, 45, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(90, 45, 255, 0);
  }
}
@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(10px) rotate(-360deg);
  }
}
nav .container .nav-link {
  color: #8E8E8E;
}
nav .container .nav-link li {
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
nav .container .nav-link li:hover {
  color: #5E1EE5;
}
nav .container .nav-link li::after {
  content: "";
  position: absolute;
  transition: all 0.3s ease;
  background-color: #5E1EE5;
  width: 0;
  height: 2px;
  left: 50%;
  bottom: -5px;
  transform: translate(-50%);
}
nav .container .nav-link li:hover::after {
  width: 100%;
}
nav .container .nav-btn button:nth-of-type(1) {
  padding: 10px 20px;
  border: 2px solid #5E1EE5;
  background-color: transparent;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white !important;
}
nav .container .nav-btn button:nth-of-type(1):hover {
  background-color: #5d17c4;
  color: #ffffff;
  box-shadow: 0 4px 15px rgba(93, 23, 196, 0.4);
  transform: translateY(-2px);
}
nav .container .nav-btn button:nth-of-type(1):active {
  transform: translateY(0);
}
nav .container .nav-btn button:nth-of-type(2) {
  padding: 10px 20px;
  border: 2px solid #5E1EE5;
  background-color: transparent;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white !important;
}
nav .container .nav-btn button:nth-of-type(2):hover {
  background-color: #5d17c4;
  color: #ffffff;
  box-shadow: 0 4px 15px rgba(93, 23, 196, 0.4);
  transform: translateY(-2px);
}
nav .container .nav-btn button:nth-of-type(2):active {
  transform: translateY(0);
}

.hero {
  color: white;
  overflow-y: hidden;
  z-index: 500;
}
.hero .container {
  padding: 100px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .container .hero_card {
  width: 560px;
}
.hero .container .hero_card h1 {
  font-size: 65px;
  font-weight: 900;
  transition: all 0.3s ease;
  padding: 20px;
}
.hero .container .hero_card p {
  padding: 20px 0px;
}
.hero .container .hero_card .bottom {
  width: 250px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.hero .container .hero_card2 {
  width: 500px;
  position: relative;
}
.hero .container .hero_card2 .cube-big {
  width: 400px;
  height: 600px;
  border: 1px solid;
  position: absolute;
  top: -280px;
  transform: rotate(20deg);
  background-color: rgba(142, 142, 142, 0.231372549);
}
.hero .container .hero_card2 .cube-small {
  width: 100px;
  height: 150px;
  border: 1px solid;
  background-color: rgba(92, 23, 196, 0.3568627451);
  position: absolute;
  right: 230px;
  transform: rotate(20deg);
}
.hero .container .hero_card2 .hero-info {
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-left: -50px;
}
.hero .container .hero_card2 .hero-info h2:nth-of-type(1) {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  color: black;
  transform: rotate(-5deg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.hero .container .hero_card2 .hero-info h2:nth-of-type(1):hover {
  transform: rotate(0deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
.hero .container .hero_card2 .hero-info h2:nth-of-type(2) {
  background-color: #FFE921;
  border-radius: 10px;
  padding: 5px;
  color: black;
  transform: rotate(5deg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.hero .container .hero_card2 .hero-info h2:nth-of-type(2):hover {
  transform: rotate(0deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.intro {
  position: relative;
  z-index: 1;
}
.intro .container {
  padding: 50px 0px;
}
.intro .container .intro_title {
  text-align: center;
  color: white;
  padding: 30px 0px;
}
.intro .container .intro_title h1 {
  font-size: 50px;
}
.intro .container .intro_title h1 span {
  color: #5d17c4;
}
.intro .container .intro_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro .container .intro_box .intro_card {
  width: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  cursor: pointer;
}
.intro .container .intro_box .intro_card i {
  color: white;
  font-size: 35px;
  width: 60px;
  height: 60px;
  box-shadow: 0px 0px 10px #5d17c4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.intro .container .intro_box .intro_card i:hover {
  background-color: #5d17c4;
  color: white;
}
.intro .container .intro_box .intro_card p {
  color: white;
}

.two .container {
  padding: 50px 0px;
  z-index: 500;
}
.two .container .two_title {
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.two .container .two_title h1 {
  color: white;
  text-align: center;
}
.two .container .two_title h1 span {
  color: #5d17c4;
}
.two .container .two_title .move-btns {
  display: flex;
  align-items: center;
  gap: 15px;
}
.two .container .two_title .move-btns button {
  padding: 10px 10px;
  border: 1px solid transparent;
  background-color: #AFE638;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.two .container .two_title .move-btns button:hover {
  background-color: white;
  color: #AFE638;
  border: 1px solid #AFE638;
}
.two .container .two_box {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}
.two .container .two_box::-webkit-scrollbar {
  height: 10px;
  color: #5d17c4;
}
.two .container .two_box::-webkit-scrollbar-thumb {
  background: #5d17c4;
  border-radius: 10px;
}
.two .container .two_box::-webkit-scrollbar-track {
  background: transparent;
}
.two .container .two_box .two_card {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 0px 5px 5px rgba(243, 233, 143, 0.4039215686);
  border-radius: 20px;
  background-color: white;
  min-width: 400px;
  flex: 0 0 400px;
}
.two .container .two_box .two_card .heart {
  width: 200px;
  margin: 0 auto;
  height: 300px;
  position: relative;
  padding-top: 40px;
  padding-bottom: 10px;
}
.two .container .two_box .two_card .heart img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.two .container .two_box .two_card .heart i {
  position: absolute;
  top: 10px;
  right: -50px;
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.two .container .two_box .two_card .heart i:hover {
  background-color: white;
  color: red;
  border: 1px solid black;
}
.two .container .two_box .two_card .heart i:active {
  transform: scale(0.9);
}
.two .container .two_box .two_card .heart i:focus {
  background-color: red;
  color: white;
}
.two .container .two_box .two_card h2 {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.two .container .two_box .two_card p {
  padding: 10px;
  font-weight: 400;
}
.two .container .two_box .two_card .stars i {
  color: #AFE638;
}
.two .container .two_box .two_card .stars {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 20px 0px;
}
.two .container .two_box .two_card button {
  padding: 10px 20px;
  border: 1px solid black;
  color: black;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.two .container .two_box .two_card button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.three .container {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.three .container .three_card:nth-of-type(1) {
  width: 500px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.three .container .three_card:nth-of-type(1) h1 {
  text-align: center;
  color: black;
  padding: 10px 0px;
}
.three .container .three_card:nth-of-type(1) .three_info {
  position: relative;
}
.three .container .three_card:nth-of-type(1) .three_info img {
  width: 300px;
  height: 200px;
}
.three .container .three_card:nth-of-type(1) .three_info button {
  position: absolute;
  left: 70px;
  bottom: 0px;
  padding: 10px 20px;
  border: none;
  background-color: #5d17c4;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.three .container .three_card:nth-of-type(1) .three_info button:hover {
  transform: scale(1.1);
}
.three .container .three_card:nth-of-type(1) .three_info button:active {
  transform: scale(0.9);
}
.three .container .three_card:nth-of-type(2) {
  width: 500px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.three .container .three_card:nth-of-type(2) h1 {
  text-align: center;
  color: black;
  padding: 10px 0px;
}
.three .container .three_card:nth-of-type(2) .three_info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
}
.three .container .three_card:nth-of-type(2) .three_info img {
  width: 300px;
  height: 200px;
}
.three .container .three_card:nth-of-type(2) .three_info button {
  position: absolute;
  left: 70px;
  top: 0px;
  padding: 10px 20px;
  border: none;
  background-color: #5d17c4;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.three .container .three_card:nth-of-type(2) .three_info button:hover {
  transform: scale(1.1);
}
.three .container .three_card:nth-of-type(2) .three_info button:active {
  transform: scale(0.9);
}
.three .container .three_card:nth-of-type(3) {
  width: 470px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.three .container .three_card:nth-of-type(3) h1 {
  text-align: left;
  color: black;
  padding: 10px 0px;
}
.three .container .three_card:nth-of-type(3) .three_info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
}
.three .container .three_card:nth-of-type(3) .three_info img {
  width: 300px;
  height: 200px;
}
.three .container .three_card:nth-of-type(3) .three_info button {
  position: absolute;
  left: -30px;
  bottom: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #5d17c4;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.three .container .three_card:nth-of-type(3) .three_info button:hover {
  transform: scale(1.1);
}
.three .container .three_card:nth-of-type(3) .three_info button:active {
  transform: scale(0.9);
}
.three .container .three_card:nth-of-type(4) {
  width: 470px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.three .container .three_card:nth-of-type(4) h1 {
  text-align: left;
  color: black;
  padding: 10px 0px;
}
.three .container .three_card:nth-of-type(4) .three_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.three .container .three_card:nth-of-type(4) .three_info img {
  width: 300px;
  height: 200px;
}
.three .container .three_card:nth-of-type(4) .three_info button {
  padding: 10px 20px;
  border: none;
  background-color: #5d17c4;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.three .container .three_card:nth-of-type(4) .three_info button:hover {
  transform: scale(1.1);
}
.three .container .three_card:nth-of-type(4) .three_info button:active {
  transform: scale(0.9);
}

.four .container {
  padding: 50px 0px;
}
.four .container .four_title {
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.four .container .four_title h1 span {
  color: #5d17c4;
}
.four .container .four_title i {
  color: #AFE638;
  font-size: 30px;
  animation: star 5s linear infinite;
}
@keyframes star {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(1.5);
  }
  100% {
    transform: rotate(-360deg) scale(1);
  }
}
.four .container .four_box {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.four .container .four_box .four_card {
  width: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.four .container .four_box .four_card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 10px #5d17c4;
}
.four .container .four_box .four_card .card_top {
  width: 300px;
  text-align: center;
  position: relative;
}
.four .container .four_box .four_card .card_top img:nth-of-type(2) {
  width: 300px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}
.four .container .four_box .four_card .card_top img:nth-of-type(1) {
  position: absolute;
  right: -90px;
  top: 0px;
}
.four .container .four_box .four_card .card_top h3 {
  position: absolute;
  right: -60px;
  top: 20px;
  background: linear-gradient(90deg, red, yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: shine 1s linear infinite;
}
@keyframes shine {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}
.four .container .four_box .four_card .card_top h2 {
  color: #0177FC;
}
.four .container .four_box .four_card .four_info h2 {
  padding: 20px 0px;
}
.four .container .four_box .four_card .four_info p {
  padding-bottom: 10px;
}
.four .container .four_box .four_card .four_info .four_stars {
  display: flex;
  align-items: start;
  gap: 5px;
  padding: 10px 0px;
}
.four .container .four_box .four_card .four_info .four_stars i {
  color: #AFE638;
}
.four .container .four_box .four_card .four_info button {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}
.four .container .four_box .four_card .four_info button:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}
.four .container .four_box .four_card .four_info button:active {
  transform: scale(0.9);
}

.fife .container {
  background-color: #212736;
  padding: 50px 20px;
  border-radius: 20px;
  position: relative;
}
.fife .container .trengle {
  width: 100px;
  height: 50px;
  background: #212736;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
  top: -50px;
  left: 500px;
}
.fife .container .fife_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fife .container .fife_box .fife_card h1:nth-of-type(1) {
  color: white;
  font-size: 40px;
  padding: 20px;
}
.fife .container .fife_box .fife_card h1:nth-of-type(2) {
  font-weight: 900;
  position: relative;
  color: white;
}
.fife .container .fife_box .fife_card h1:nth-of-type(2) .dote {
  position: absolute;
  top: -7px;
  left: 120px;
  width: 20px;
  height: 20px;
  background-color: #5E1EE5;
  border-radius: 50%;
  z-index: -1;
  animation: pulse 2s infinite, orbit 4s linear infinite;
}
.fife .container .fife_box form {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #EFF0F1;
}
.fife .container .fife_box form input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.fife .container .fife_box form button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #AFE638;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.fife .container .fife_box form button:hover {
  background-color: #a7e424;
}

footer .container {
  padding: 50px 0px;
  color: white;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
footer .container ul {
  line-height: 30px;
}
footer .container ul li {
  cursor: pointer;
}
footer .container ul li:hover {
  color: #5d17c4;
}
footer .container .footer_card {
  width: 400px;
}
footer .container .footer_card h1 {
  font-weight: 900;
  position: relative;
  color: white;
}
footer .container .footer_card h1 .dote {
  position: absolute;
  top: -7px;
  left: 120px;
  width: 20px;
  height: 20px;
  background-color: #5E1EE5;
  border-radius: 50%;
  z-index: -1;
  animation: pulse 2s infinite, orbit 4s linear infinite;
}/*# sourceMappingURL=main.css.map */